.contact {
   width: 650px;
   max-width: 95%;
   min-height: calc(100vh - 30vh);
   display: flex;
   // place-items: center;
   flex-wrap: wrap;
   .input {
      &__label {
         display: block;
         margin-top: 20px;
         margin-bottom: 10px;
         font-size: 16px;
         opacity: 0.5;
      }
      &__name,
      &__subject,
      &__email,
      &__message {
         display: block;
         outline: none;
         width: 650px;
         max-width: 100%;
         border: none;
         border-bottom: 1px solid rgb(202, 202, 202);
         padding: 10px;
         font-size: 20px;

         transition: border-bottom 0.3s;

         &::placeholder {
            color: black;
            font-size: 25px;
         }
         &::after {
            content: '';
            display: block;
            width: 0%;
            height: 1px;
            border-bottom: 1px solid rgb(202, 202, 202);
            transition: border-bottom 0.3s;
         }

         &:focus {
            border-bottom: 1px solid $black;
         }
         &:focus::after {
            width: 100%;
         }
      }
   }
}
