.hero {
   height: 75vh;
   position: relative;
   // background-color: rgba(0, 0, 0, 0.856);
   // background-image: url(../../assets/images/ghofranebenhmaid.jpg);
   // border: 25px solid $black;
   background-size: cover;
   background-position: center top;
   // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));

   display: flex;
   justify-content: center;
   align-items: center;
   @media (max-width: $tablet) {
      // border:none;
      width: 100%;
      // border: 25px solid $black;
   }
   @media (max-width: $phone) {
      height: 50vh;
      // border: 20px solid $black;
   }
   &__title {
      h1 {
         font-size: 185px;

         animation-name: backgroundColor;
         animation-duration: 10s;
         animation-iteration-count: infinite;
         @media (max-width: $laptop) {
            font-size: 100px;
         }
         @media (max-width: $tablet) {
            font-size: 90px;
         }
         @media (max-width: $phone) {
            font-size: 45px;
         }
      }
   }
   &__rotate {
      opacity: 0.6;
      position: absolute;

      left: 0;
      bottom: 0;
      padding: 20px;

      .rotate-center {
         width: 150px;
         height: 150px;
         @media (max-width: $phone) {
            width: 100px;
            height: 100px;
         }
      }
   }
   &__arrow {
      width: 350px;
      cursor: pointer;
      transition: 0.3s ease;
      margin: 0 75px;
      @media (max-width: $laptop) {
         width: 180px;
      }
      @media (max-width: $tablet) {
         width: 180px;
         margin: 0 35px;
      }
      @media (max-width: $phone) {
         width: 75px;
         margin: 0 25px;
      }
      &:hover {
         transform: translateX(10%);
      }
   }
}
